/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the curved underline */
path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

/* Optional: Add any other global styles below */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased;
  }
}

/* Animation utilities */
.delay-1000 {
  animation-delay: 1000ms;
}

.delay-2000 {
  animation-delay: 2000ms;
}